[2019-07-08 11:22] leecalcote opened #2 "Missing unit tests"
This adapter is in need of unit tests.

[2019-08-20 23:45] leecalcote opened #3 "Deploy Linkerd via Helm"
Now that Linkerd 2.5.0 has support for Helm, use this Helm packaging to deploy Linkerd.

(congrats on the release @wmorgan)

[2019-08-21 20:40] leecalcote opened #5 "Add issue templates: bug and enhancement"
Create two issue templates in the *meshery-linkerd* repo by copying the meshery repo's [issue templates](https://github.com/layer5io/meshery/tree/master/.github/ISSUE_TEMPLATE).

[2019-09-14 14:34] gunjanmimo commented on #5
sir i did completed properly

[2019-09-14 17:18] leecalcote commented on #5
Fixed by #6.

[2019-09-14 17:18] #5 closed

[2019-09-14 17:18] leecalcote commented on #5
Thank you, @gunjanmimo.

[2019-09-14 17:21] leecalcote opened #8 "Eliminate Linkerd Adapter code check (lint) failures"
**Description**
The Meshery adapter for Linkerd is failing lint checks when building. Currently, these checks are not passing:

[code]

**Expected Behavior**
All lint checks should pass.

See an example of these failures here - https://github.com/layer5io/meshery-linkerd/runs/215054799

[2019-09-20 15:50] girishranganathan opened #12 "Installation of the latest version of Linkerd stopped working with Meshery"
**Description**
Linkerd installed stopped working from version 2.4.

@nunix also pointed this out today during his demo.

[2019-09-20 17:41] leecalcote commented on #12
This issue is occurring irrespective of type of Kubernetes deployment (seen on both microK8s and k3os).

[2019-09-20 17:59] leecalcote opened #13 "Meshery Adapter for Linkerd build status badge defunct"
**Description**
The Meshery project recently switched from TravisCI to GitHub Actions. As such, each of the Meshery repositories need the *build* badges in their [README](blob/master/README.md)s updated. Badges from shields.io are mostly used across the repositories, however, shields.io support for GitHub Actions badge [seems pending](https://github.com/badges/shields/issues/2574). A number of sol

[2019-09-23 23:41] #12 closed

[2019-09-27 12:46] #13 closed

[2019-10-01 11:21] leecalcote opened #17 "Create CONTRIBUTING.md in meshery-linkerd repo"
**Issue Description**
Create contributing.md that points to the central contributing.md in the Meshery repo.

Create a stub CONTRIBUTING.md in each of the repos that essentially say:
“You want to contribute to the project? Yay! We want you to! Visit our centralized instructions for contributing.", where the “contributing” is a hyperlink to the CONTRIBUTING.md in the main meshery repo.

**Future Ef

[2019-10-09 03:05] leecalcote commented on #17
Closed by PR #18

[2019-10-09 03:05] #17 closed

[2019-10-11 14:25] leecalcote commented on #8
@ashiscs @gunjanmimo thanks for your work on the lint issues here. All PRs have been reviewed and merged. We still have an outstanding lint issue - https://github.com/layer5io/meshery-linkerd/runs/256687028#step:4:47

[2019-10-13 16:55] leecalcote commented on #8
@gunjanmimo @ashiscs I think we made it! All lint issues have been addressed for the Linkerd adapter. 👍

[2019-10-13 16:55] #8 closed

[2019-10-27 22:26] leecalcote opened #27 "README: Add hyperlinks to badges"
**Description**
Some of the badges in this repos readme are missing informative hyperlinks.

**Desired Behavior**
The badges (and their links) that are used in the [Meshery repo's README](https://github.com/layer5io/meshery/blob/master/README.md) are a great example of how the badges in this repo can be improved.

[2019-10-28 12:39] leecalcote commented on #27
Much appreciated, @luclu7! 👍

[2019-10-28 12:39] #27 closed

[2019-11-13 01:14] leecalcote commented on #3
@grampelberg, if you're inclined to jump in, your help is most encouraged and welcomed.

[2020-01-03 19:04] leecalcote opened #31 "Copy "documentation" GitHub issue template to Linkerd adapter repo"
**Description**
The Layer5 community's GitHub issue template for documentation is missing in this repo.

**Expected Behavior**
The meshery-linkerd repo should contain the [documentation issue template](https://raw.githubusercontent.com/layer5io/meshery-octarine/master/.github/ISSUE_TEMPLATE/documentation.md) in the [ISSUE_TEMPLATE](../tree/master/.github/ISSUE_TEMPLATE) folder.

[2020-01-03 19:10] leecalcote opened #32 "Builds: Static and Error checking of Go code"
**Enhancement Description**
In order to facilitate coding best practices, this adapter's code should have static analysis and error checking run as part of its build process.

**Chore Description**
Using the meshery-istio adapter's Actions workflow as an example, enable [Static and Error checks](https://github.com/layer5io/meshery-istio/blob/master/.github/workflows/ci.yml#L26-L51) in this reposit

[2020-01-03 19:11] leecalcote commented on #32
@nupur-thakur, as a way of familiarizing with the project and expanding your Go skills, would you like to give this issue a try?

[2020-01-03 19:35] nupur-thakur commented on #32
@leecalcote Yes. I will try to do this and let you kniw if I get stuck somewhere.

[2020-01-04 15:47] #31 closed

[2020-01-06 18:24] nupur-thakur commented on #32
Hello @leecalcote I was trying to understand that what exactly I have to do after figuring it out when i checked the ci.yml file of meshery-linkerd I realised that the code for static error checking of Go Code is already there but it has been commented out by somebody.
So do I just need to uncomment and understand the code or I have to find the errors in it if it were there?

[2020-01-06 18:26] nupur-thakur commented on #32
@gunjanmimo as you have referenced this issue just a few minutes ago if you could guide me, it will be a great help.

[2020-01-07 01:17] girishranganathan commented on #32
@nupur-thakur yes you are right. You have to uncomment and then go around fixing the errors pointed out by the checks. Feel free to reach out to me if you have any questions.

[2020-01-28 19:07] leecalcote commented on #3
@Aisuko, this issue is right up your alley. 👍

[2020-01-28 19:09] grampelberg commented on #3
Would love to know if there's anything we can do to help out!

[2020-01-28 19:22] leecalcote commented on #3
@grampelberg, please, yes. We'll take anything and everything. :) If nothing else, a review of this issue when the PR lands would be helpful. We would love it if at some point you/the team had maintainership of the Linkerd adapter.

[2020-01-29 04:59] Aisuko commented on #3
Ok, I will take this one. Let's begin after the listed Meshery chart on Helm.Hub

[2020-02-08 04:16] Aisuko commented on #3
@grampelberg Welcome PR at any time about this.

[2020-02-16 19:54] kushthedude commented on #32
Hey, @nupur-thakur Still working on this issue? If not, may I give it a shot

[2020-02-17 10:31] nupur-thakur commented on #32
@kushthedude I am no longer working on this issue as a PR have already merged regarding this Issue by @gunjanmimo

[2020-02-17 12:17] kushthedude commented on #32
@leecalcote This issue can be closed then.

On Mon, 17 Feb, 2020, 16:01 nupur-thakur, <notifications@github.com> wrote:

[2020-02-17 12:30] gunjanmimo commented on #32
there are some more errors, so I need some time. so we should keep this pr open @kushthedude

[2020-02-18 19:44] antweiss opened #38 "Add 'linkerd check' to verify linkerd installation"
**Enhancement Description**
Currently there's only a check pre-installation.
The success isn't verified.
Meshery notifies on installation success while the images for linkerd are still being initialized.
I think we should wait until 'linkerd check' returns full success.

**Related Challenges**
The use may have to wait a bit longer until Linkerd installation is confirmed. But I think this is better

[2020-02-18 19:49] antweiss opened #39 "Add linkerd custom configurations"
**Enhancement Description**
Istio adapter comes with predefined custom configs. Let's add similar configs for Linkerd.
IMHO this will provide some added value for Meshery as a Linkerd playground.
**Related Challenges**
We'll probably need to create service profiles, etc. ourselves as there are no ready-to-use yaml files provided by Buoyant. At least AFAIK.

[2020-02-25 09:22] antweiss opened #40 "Linkerd installation broken"
**Description**
Latest edge release of linkerd changed the `--linkerd-namespace` flag from `-l` to `-L` and thus broke our installation command.
`meshery-linkerd_1   | time="2020-02-25T08:44:04Z" level=error msg="received error while attempting to prepare install yaml: Error: unknown shorthand flag: 'l' in -l`

**Expected Behavior**
Linkerd should be installed correctly

**Screenshots**
<img width

[2020-02-26 06:36] #40 closed

[2020-03-01 08:43] antweiss commented on #32
@gunjanmimo I believe I fixed all the warnings and errors in my latest PR. Please try to rebase on the latest master.

[2020-04-02 10:08] Aisuko opened #42 "[Feature] Add the Unit test for the adapter"
**Enhancement Description**
A brief description of the enhancement.

Add the unit test for the adapter functions:

* In order to make the adapter more stable
* In order to develop install process with Helm package
* In order to get experiences with the adapter's development process and these will output to project cattle
* The PR is beginning after this I will do more PR includes unit test

**Rela

[2020-04-02 10:34] Aisuko opened #44 "The CI Security check catches the defer function issue with G306 G307"
**Description**
A brief description of the issue.

* The `defer` function in the adapter's source code got the gosec(Golang Security Checker)-G307. To check the [available rule list](https://github.com/securego/gosec#available-rules)

**Expected Behavior**
A brief description of what you expected to happen.

* All the test scripts will be pass

**Screenshots**
Add screenshots, if applicable, to he

[2020-04-02 10:53] Aisuko opened #45 "[Issue]The CI scripts need to provide the Kubernetes cluster config information"
**Description**
A brief description of the issue.

[code]

**Expected Behavior**
A brief description of what you expected to happen.

All test scripts in CI will be pass

**Screenshots**
Add screenshots, if applicable, to help explain your problem.

**Enviroment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g. laptop, iPhone 8]

---
[Optional] **To R

[2020-04-02 10:57] Aisuko commented on #45
@spring-bu Hi here, If you interest in the CI scripts with this issue.

[2020-04-08 06:16] Aisuko commented on #45
Fixed by referenced PR before

[2020-04-08 06:16] #45 closed

[2020-04-08 06:50] Aisuko opened #50 "The CI `Security check` got the error and can not work very well"
**Description**
A brief description of the issue.

The Ci `Security check` got the error below

`go get github.com/securego/gosec/cmd/gosec: no matching versions for query "upgrade"`

Reference issue
https://github.com/securego/gosec/issues/458

**Expected Behavior**
A brief description of what you expected to happen.

The CI scripts all pass

**Screenshots**
Add screenshots, if applicable, to hel

[2020-04-08 06:56] Aisuko opened #51 "The CI `Setup Go` version condition is blank"
**Description**
A brief description of the issue.

I saw the version of go is blank so I'm not sure which version go we used and may the CI `tools` may not compatible correctly with the specific version e.g `gosec` just change the go version with the PR

https://github.com/layer5io/meshery-linkerd/runs/569837091?check_suite_focus=true

The CI file

[code]

So the `secrets.GO_VERSION` should have t

[2020-04-08 08:22] Aisuko commented on #51
@leecalcote I saw the document that the `secret` needs the repository owner with `admin` access to create encrypted secrets. I' m not sure I can get the owner's permission, but If you like.

Reference below:
https://help.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets

[2020-04-08 13:58] Aisuko commented on #50
This issue has been solving by alternative use `gosec` Github Action and will be close

[2020-04-09 02:56] #32 closed

[2020-04-09 02:56] #44 closed

[2020-04-09 09:10] #42 closed

[2020-04-09 09:21] Aisuko commented on #50
FIxed by PR #46

[2020-04-09 09:21] #50 closed

[2020-04-11 07:13] Aisuko opened #53 "Add the unit test for download Linkerd-cli and install Linkerd to Kubernetes cluster"
**Description**
A brief description of the issue.
There was no unit test for linked `download-cli` and `execute`

**Expected Behavior**
A brief description of what you expected to happen.

Add the unit test functions

**Screenshots**
Add screenshots, if applicable, to help explain your problem.

**Enviroment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device:

[2020-04-11 07:19] Aisuko opened #54 "Add back the CI test condition"
**Enhancement Description**
A brief description of the enhancement.

As we can see, or CI file `needs` condition was comment out. Every PR the runner all build and push docker image. Even though other check steps was failed.

**Related Challenges**
A brief description of what the problem is. (e.g. I need to be able to...)

As you can see, we have been fixed the CI issue. So, I believe it's time to

[2020-04-19 11:16] Aisuko opened #60 "Failed to load [extension-apiserver-authentication] config"
**Description**
A brief description of the issue.

[code]

**Expected Behavior**
A brief description of what you expected to happen.

The adapter can deploy Linkerd work well

**Screenshots**
Add screenshots, if applicable, to help explain your problem.

**Enviroment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
     * latest version Meshery and Meshery-Linkerd
 -

[2020-04-19 11:31] Aisuko commented on #60
I deploy Linkerd2 with my localhost Meshery and Meshery-linkerd with the linkerd-cli-2.7 stable. May we need to change our deployment command of Meshery-linkerd

[2020-05-22 08:23] Aisuko commented on #54
According to below, close the issue.
https://github.com/layer5io/meshery-linkerd/blob/d75cf4f786746c09c68de0116412ea95784aeb05/.github/workflows/ci.yml#L115

[2020-05-22 08:23] #54 closed

[2020-05-22 08:23] #53 closed

[2020-05-22 12:57] Aisuko commented on #60
https://github.com/linkerd/linkerd2/issues/4467

[2020-05-23 09:12] Aisuko commented on #60
https://discourse.linkerd.io/t/error-no-client-ca-cert-available-for-apiextension-server/947

[2020-06-13 10:29] Aisuko opened #67 "Meshery-linkerd needs to change the way which manages the Linkerd2 life-cycle to more native with Linkerd2"
**Enhancement Description**

This may difficult and complex we need to change the main logistic of the `Meshery-linkerd` and this is the main feature of this adapter.

Current logistic:

* Every one hour the adapter needs to go to the Github release API to check the newest version of Linkerd2 CLI and download the CLI into the local folder(Sometimes download process was closed but did not with an e

[2020-07-04 21:01] leecalcote opened #69 "[CI] Release v0.3.17 of Linkerd adapter"

[2020-07-04 21:02] leecalcote commented on #69
Released - https://github.com/layer5io/meshery-linkerd/releases/tag/v0.3.17

[2020-07-04 21:02] #69 closed

[2020-07-05 19:57] leecalcote opened #70 "[Install] Linkerd installation failure"
**Description**
[code]

**Environment**
Meshery Client Version: 0.3.18
Meshery Server Version: v0.4.0-beta.1

[2020-07-07 12:42] Aisuko commented on #70
OK, the issue on my schedule now.

[2020-07-07 12:44] leecalcote commented on #70
Thank you, @Aisuko

[2020-07-08 09:03] Aisuko commented on #70
@leecalcote You are welcome, sir. I need more time as you know that my work hours.😱😱

[2020-07-12 05:49] leecalcote commented on #51
@Aisuko I'm sorry for having completely missed this.

I just checked and see a secret for `GO_VERSION` in this repo. I'm not sure what value it holds, though. Let me know if there's further action to take here.

[2020-07-14 15:04] leecalcote opened #71 "Add Stale bot to this repo"
**Description**
Unaddressed issues that remain open for long periods may be automatically marked stale and closed.

**Implementation**
Copy [stale.yml](https://github.com/layer5io/meshery/blob/master/.github/stale.yml) from the Meshery repo and put into the .github folder here.

[2020-07-14 17:10] #71 closed

[2020-07-20 03:42] leecalcote opened #77 "[Install] Add support for Learn Layer5 sample app (for SMI Conformance)"
**Enhancement Description**
Add support for provisioning and deprovisioning the Learn Layer5 sample application on Linkerd service mesh deployments.

[2020-08-08 08:18] Aisuko opened #80 "[Feature] The test cases need to use mock feature"
**Enhancement Description**
A brief description of the enhancement.

**Related Challenges**
A brief description of what the problem is. (e.g. I need to be able to...)

---
[Optional] **Alternatives**
A brief description of any alternative solutions or features you've considered.

[Optional] **Additional context**
Add any other context or screenshots about the feature request here.

[2020-08-10 04:36] leecalcote opened #81 "Add releasedrafter workflow and configuration files to this repo"
**Current Situation**
The [ReleaseDrafter](https://github.com/marketplace/actions/release-drafter) utility (GitHub Action) is not configured in this repository.

**Desired Situation**
- Releasedrafter should be configured to execute whenever a PR is merged to master in this repo.

**Implementation**
- Copy the [releasedrafter config](https://github.com/layer5io/meshery/blob/master/.github/release-

[2020-08-13 03:46] Aisuko commented on #81
@PmcFizz As we discussed, would you like to contribute this one?

[2020-08-13 03:48] PmcFizz commented on #81
Yes, I  will create a workflow for this project.

[2020-08-13 03:49] leecalcote commented on #81
Excellent! The workflow and configuration linked above can be copied verbatim. 👍

[2020-08-15 04:35] Aisuko commented on #2
I believe we can close this issue, as we can see we already add the unit tests.

[2020-08-15 04:35] #2 closed

[2020-08-18 09:59] leecalcote opened #86 "Add Layer5 Welcome bot to the Meshery adapter for Linkerd repository"
**Current Situation**
A welcome bot has been configured to usher in contributors new to this project. Configuration of this welcome bot is missing from the `meshery-consul` repository, however.

**Desired Situation**
The [config.yml](https://github.com/layer5io/meshery/blob/master/.github/config.yml) and the [`welcome` folder](https://github.com/layer5io/meshery/tree/master/.github/welcome) along

[2020-08-18 16:47] tonyanant commented on #86
Hello, can I work on this issue?

[2020-08-18 18:28] PluckyPrecious commented on #86
Yes you can @tonyanant.💪🏽

[2020-08-19 13:42] tonyanant commented on #86
I just performed a [pull request](https://github.com/layer5io/meshery-consul/pull/79) regarding this issue. I hope I did everything correctly regarding the pull request and if not I'd love to get some feedback on what I did wrong. Thank you.

[2020-08-19 21:48] leecalcote commented on #86
@tonyanant you did swell job. I actually messed up here. I meant to request that the config.yml file be created in _this_ repository - the Linkerd repository. Will you consider filing another PR against this repo?

[2020-08-20 08:26] tonyanant commented on #86
Sure, but what exactly would you like me to do? I am not sure I understand.

[2020-08-20 08:36] leecalcote commented on #86
@tonyanant the same thing that you did in the Meshery-consul repo, but done in this repo (Meshery-linkerd).

[2020-08-20 08:37] leecalcote commented on #86
@tonyanant feel free to ping me in Slack, if this still doesn't quite make sense. (http://slack.layer5.io)

[2020-08-20 09:22] PluckyPrecious commented on #86
Hi, @tonyanant I think this sums up what @leecalcote is saying. Hope you're clear. 😃

**Current Behavior**
 A welcome bot has been configured to usher in contributors new to this project. Configuration of this welcome bot is missing from the `meshery-linkered` repository.

**Desired Behavior**
 The [config.yml](https://github.com/layer5io/meshery/blob/master/.github/config.yml) and the [welcome fo

[2020-08-20 09:58] tonyanant commented on #86
Ok, I understand what needs to be done and I'll get to it. Thank you! 👍

[2020-08-20 10:22] tonyanant commented on #86
I completed the task and just made the pull request. I hope everything works fine. :)

[2020-08-20 11:05] PluckyPrecious commented on #86
I doubt it's from your end, @leecalcote will resolve it. Welldon. 🥳

[2020-08-20 11:17] tonyanant commented on #86
Thank you! You've helped me greatly on performing my first contribution and in starting to learn how github and open source works! Thanks for everything and if there are any other beginner issues I'd be glad to contribute more!  :D

[2020-08-20 11:20] leecalcote commented on #86
Very cool, @tonyanant. 😄 There's more where that came from. Have you joined the community Slack? If not, here you go - http://slack.layer5.io. Be sure to have a look at [this doc](https://docs.google.com/document/d/1tpg2sLxirozNt3Ofr3GdM002f9rExp74EqrsGZBU710/edit?usp=sharing).

[2020-08-20 11:41] Ruth-ikegah commented on #86
Nice work @tonyanant

[2020-08-20 11:58] PluckyPrecious commented on #81
A PR was merged to this effect 9days ago. So I'm closing this issue now.

[2020-08-20 11:58] #81 closed

[2020-08-21 01:30] #86 closed

[2020-08-30 10:38] Aisuko opened #91 "[CI] The adapter project's CI should follow Meshery CI use golangci-lint to improve performance"
**Enhancement Description**
A brief description of the enhancement.

**Related Challenges**
A brief description of what the problem is. (e.g. I need to be able to...)

---
[Optional] **Alternatives**
A brief description of any alternative solutions or features you've considered.

[Optional] **Additional context**
Add any other context or screenshots about the feature request here.

[2020-09-16 12:37] Aisuko opened #95 "The dependencies of `k8s.io/apimachinery` version change the functions of resource that make the function not working well."
**Description**
A brief description of the issue.

v0.19.1
https://github.com/kubernetes/client-go/blob/028b2b5fa000f4a7ce10503e2e2523b6bbac11a6/dynamic/interface.go#L37

v0.17.4
https://github.com/kubernetes/client-go/blob/9927afa2880713c4332723b7f0865adee5e63a7b/dynamic/interface.go#L35

There a little change with the `dynamic.ResourceInterface` please see below, if we upgrade `client-go` versio

[2020-09-19 09:12] Aisuko opened #100 "Create the resource invoked kubernetes interface need to use `waituntilready` feature"
**Enhancement Description**

We need to add the `wait until ready` feature(the feature may something like Reconcile function) into our business logic of create the resource into the cluster. So, I plan to PR this on `meshery-linkerd` and update to other adapter later.

This is long way to achieve but must to do. Because we always believe that the network is working well and the cluster running no

[2020-09-21 02:24] #95 closed

[2020-09-24 02:57] #67 closed

[2020-09-24 02:58] leecalcote opened #101 "[CI] Establish Meshery Edge Release Channel (ci.yml)"
**Current Behavior**
See https://github.com/layer5io/meshery/issues/1270 for additional details and the https://github.com/layer5io/meshery/issues/284 epic.

**Desired Behavior**
Implement in the same fashion that has been done in layer5io/meshery repo.

[2020-09-24 02:58] leecalcote commented on #101
@Aisuko an item that you might grab...

[2020-09-24 04:01] Aisuko commented on #101
No problem

[2020-09-24 06:37] Aisuko commented on #77
I have a consider on the dependencies version the different may make broken to the adapter

[2020-09-24 06:39] Aisuko commented on #38
Close by PR https://github.com/layer5io/meshery-linkerd/pull/61

[2020-09-24 06:39] #38 closed

[2020-09-24 06:41] Aisuko commented on #3
As we discussed that the install will be more native to the Kubernetes natively ,So we close this issue

[2020-09-24 06:41] #3 closed

[2020-09-24 06:43] Aisuko commented on #60
Fixed by PR https://github.com/layer5io/meshery-linkerd/pull/99

[2020-09-24 06:43] #60 closed

[2020-09-24 06:44] Aisuko commented on #70
Fixed by PR https://github.com/layer5io/meshery-linkerd/pull/99

[2020-09-24 06:44] #70 closed

[2020-09-27 12:41] Aisuko opened #105 "The install way of linkerd needs to be change to the other ways"
**Enhancement Description**
A brief description of the enhancement.

As we can see the code below.  We should  focus on the stable version and as you can see the linkerd2 release list top 10 almost the edge version.  So, we should change to other ways

https://github.com/layer5io/meshery-linkerd/blob/8fb895de16cd3255043dc296ccde668658abc528/linkerd/install.go#L40-L41

https://github.com/layer5io/m

[2020-10-02 21:19] leecalcote opened #107 "[Lifecycle] Provisioning of Linkerd fails: missing kubeconfig context"
**Description**
The following error message is received when provisioning Linkerd:

[code]

**Expected Behavior**
KUBECONFIG env variable should be present and pointing to the tmp kubeconfig

[2020-10-04 01:06] #107 closed

[2020-10-04 01:09] leecalcote opened #109 "[Workloads] Unable to find exposed port for Emojivoto web service"
**Description**
Meshery adapter for Linkerd will attempt to retrieve the service port that has been exposed upon deployment of a given workload (sample app).

**Expected Behavior**
When provisioning Emojivoto, users should be told what port its "web-svc" is available on.

**Screenshots**
<img width="1211" alt="Screen Shot 2020-10-03 at 8 09 08 PM" src="https://user-images.githubusercontent.com/757

[2020-10-09 17:46] kumarabd opened #110 "Change default namespace for installation"
Change Linkerd installation namespace to `linkerd` instead of `default`

[2020-10-09 17:54] kumarabd opened #111 "Output linkerd check logs"
Output linkerd check logs in notification bubble message.

[2020-10-09 17:58] kumarabd opened #112 "Include jaeger installation option"
Add options for installing jaeger.Have it inside `apply configuration` card.

[2020-10-09 18:00] kumarabd opened #113 "Include jaeger option by default"
Add jaeger installed by default installation. A separate profile

[2020-10-09 18:13] kumarabd opened #114 "Remove logic for annotations when linkerd is deleted"
By default the annotations are not removed the annotation of the namespace during the process. Device a way to remove them.

[2020-10-09 18:40] kumarabd opened #115 "Adhoc annotate namespaces"
Add option for injecting annotations for given namespace.

[2020-10-09 18:55] kumarabd opened #116 "Adhoc for verify proxy action"
Add option for running verify proxy planes installed.

[2020-10-09 18:58] kumarabd opened #117 "Install NGINX ingress controller action"
The above action is to be implemented as an option

[2020-10-09 19:29] kumarabd opened #118 "Apply custom yaml fails for ingress"
Apply custom yaml fails for ingress resource.

[2020-10-10 18:28] leecalcote opened #120 "[Lifecycle] Provide notification of namespace annotation"
**Enhancement Description**
Users are able to annotate namespaces for sidecar proxy injection. Users should receive notifications on success and failure of operation.

Success:

[code]

Failure:

[code]

[2020-10-10 18:47] leecalcote opened #121 "Adapter logs not showing in `mesheryctl system logs` output"
**Description**
No linkerd adapter logs are being shown in the output of `mesheryctl system logs`.

**Environment:**
 - Adapter Version: v0.4.1

[2020-10-10 20:35] leecalcote opened #122 "SMI Conformance Testing Support"
**Enhancement Description**
Linkerd is SMI compatible. Its compatibility needs to be verified against the standard suite of compliance tests.

[2020-10-10 21:06] kushthedude opened #123 "Sample Applications: Istio Bookinfo app is not getting installed"
**Description**
Sample Applications: Istio Bookinfo app is not getting installed, also there are no logs as well as notification on the ui about failed installation

**Expected Behavior**
Istio Bookinfo app should get installed

**Logs**
[code]

[2020-10-11 02:52] leecalcote commented on #116
# Check that the Linkerd control plane is up and running
`linkerd check`

# Check that the Linkerd control plane can be installed in the "test" namespace
`linkerd check --pre --linkerd-namespace test`

# Check that "linkerd install config" succeeded
`linkerd check config`

# Check that the Linkerd data plane proxies in the "app" namespace are up and running
`linkerd check --proxy --namespace app`

[2020-10-11 05:45] #123 closed

[2020-10-12 03:15] leecalcote opened #127 "[Lifecycle] Unable to provision Linkerd control plane"
**Description**
The Linkerd adapter has new logic checks for objects. Provisioning Linkerd and providing `linkerd` as the namespace, the following error is returned:

**Screenshots**
<img width="987" alt="Screen Shot 2020-10-11 at 9 08 33 PM" src="https://user-images.githubusercontent.com/7570704/95701421-2af9f880-0c0f-11eb-8dda-08c619a5f54a.png">

[2020-10-12 07:14] kumarabd commented on #127
<img width="1466" alt="Screenshot 2020-10-12 at 12 12 45 PM" src="https://user-images.githubusercontent.com/10404724/95713487-3fc4a380-0c84-11eb-8427-8f71db3983eb.png">

Im unable to replicate @leecalcote. I ran install linkerd in `linkerd` namespace and I've got them all installed.

[2020-10-12 09:05] leecalcote commented on #127
Let’s get on a call...

Sent from my mobile

[2020-10-15 16:56] #101 closed

[2020-10-31 19:54] utkarsh-pro commented on #109
@leecalcote after searching around for a while I found that here
https://github.com/layer5io/meshery-linkerd/blob/f2aff92347096940739df3a546b684883e14fe1e/linkerd/linkerd.go#L488-L490

we are overriding the `namespace` that was received and end up creating the resource in the namespace from the YAML file. But when we search for the resource (to look for the port), we search in the namespace given

[2020-11-01 10:00] kumarabd commented on #109
@utkarsh-pro  This change looks good, please create a PR, ill test and help you get the PR approved for the fix.

[2020-11-01 23:48] leecalcote commented on #109
Very zoos, @utkarsh-pro 😀

[2020-11-04 14:21] #109 closed

[2020-11-05 06:28] dependabot-preview[bot] opened #140 "Dependabot wasn't able to update github.com/layer5io/gokit"
The module path `github.com/layer5io/gokit` found in your `go.mod` doesn't match the actual path `github.com/layer5io/meshkit` found in the dependency's `go.mod`.

Updating the module path in your `go.mod` to `github.com/layer5io/meshkit` should resolve this issue.

[View the update logs](https://app.dependabot.com/accounts/layer5io/update-logs/53613348).

[2020-11-06 03:54] leecalcote opened #142 "[CI] Incorporate BATS set of adapter functional tests"
**Enhancement Description**
This adapter is in need of having functional tests available and integrated into the CI workflow.

**Related Challenges**
Akin to the set of BATS tests created for the Meshery Adapter for Consul, this adapter should have similar tests available.

[2020-11-06 03:59] leecalcote commented on #140
A good first issue for anyone who might like to assist...

[2020-11-06 03:59] leecalcote commented on #122
Duplicative of #77

[2020-11-07 07:31] tripathyprateek commented on #140
I will get it done.

[2020-11-07 08:58] mgfeller opened #144 "[SMI] Error starting SMI conformance test"
**Description**

When trying to run the smi conformance test, the following error is written to the mesheryctl logs: `level=error msg="rpc error: code = Unknown desc = Error installing smi tool: Kubernetes cluster unreachable: stat /home/appuser/.kube/config: no such file or directory"`. The test is not started.

**Expected Behavior**

No error message, and test is started/executed.

**Probable fi

[2020-11-09 06:33] #140 closed

[2020-11-09 07:26] #144 closed

[2020-11-10 06:40] dependabot-preview[bot] opened #147 "Dependabot wasn't able to update github.com/layer5io/gokit"
The module path `github.com/layer5io/gokit` found in your `go.mod` doesn't match the actual path `github.com/layer5io/meshkit` found in the dependency's `go.mod`.

Updating the module path in your `go.mod` to `github.com/layer5io/meshkit` should resolve this issue.

[View the update logs](https://app.dependabot.com/accounts/layer5io/update-logs/54205229).

[2020-11-10 12:03] Aisuko commented on #147
We have been change the repo name from `github.com/layer5io/gokit` to `github.com/layer5io/meshkit` . So we need to fix the issue.

[2020-11-10 12:45] Aisuko commented on #147
@kumarabd @mgfeller Hi guys, Should we do open an issue or Github Discussions to deal with this? Which version we should bump to and  I saw many adapters fit this issue.

[2020-11-10 13:12] leecalcote commented on #147
Does this adapter build when swapping in meshkit?

[2020-11-10 13:38] mgfeller commented on #147
I suggest we just change the name in the `go.mod` and imports and keep the version, then dependabot will work again and create PRs we can consider individually. Also run `go mod tidy` / `make check-local` (or whatever it is called :-) before committing, of course.

All adapters should work with meshkit as only the name of the repo was changed.

I can do this for linkerd tonight. I suggest we use t

[2020-11-11 01:29] Aisuko commented on #147
I run `go mod tidy` is work well, @leecalcote. But I have same idea with @mgfeller , we need to know which version of `meshkit` we should change to and do this manually. We should let the bot work again and clarify the dependencies which we use.

[2020-11-11 02:03] leecalcote commented on #147
Sounds real good.

[2020-11-16 06:36] #147 closed

[2020-11-17 06:33] dependabot-preview[bot] opened #153 "Dependabot wasn't able to update github.com/layer5io/gokit"
The module path `github.com/layer5io/gokit` found in your `go.mod` doesn't match the actual path `github.com/layer5io/meshkit` found in the dependency's `go.mod`.

Updating the module path in your `go.mod` to `github.com/layer5io/meshkit` should resolve this issue.

[View the update logs](https://app.dependabot.com/accounts/layer5io/update-logs/55164726).

[2020-11-29 14:47] #153 closed

[2020-12-01 17:13] leecalcote commented on #91
@kushthedude are we ready to move to golangci-lint here?

[2020-12-02 01:57] leecalcote commented on #91
Thank you, @Aisuko. All of the adapters should follow the same CI workflow. We should be able to copy workflow from any of the other adapters to here. I believe they are all the same now, except for the Linkerd adapter. Is that right, @kushthedude?

[2020-12-16 18:45] leecalcote opened #166 "Move Container Image to Distroless"
Copy approach from meshery-istio adapter

[2020-12-18 02:03] Aisuko commented on #51
Close because the CI work well for us.

[2020-12-18 02:03] #51 closed

[2020-12-18 18:30] siddhant94 commented on #166
hey @leecalcote , if it's still up for grabs, I would like to submit a PR.

[2020-12-19 01:36] leecalcote commented on #166
Hi @siddhant94, yes, it is. That would be great.

[2020-12-20 19:42] siddhant94 commented on #166
hey @leecalcote , couple of points,
1) Do we need `kubectl` binary for linkerd adapter to work? It was added via this [PR](https://github.com/layer5io/meshery-linkerd/pull/108) in the dockerfile (below snippet).
[code]
2) Currently, dockerfile has instructions to create a user appuser (`USER appuser` ). For this I justwanted to confirm that there is no dependency on username "appuser", because the

[2020-12-21 01:47] Aisuko commented on #166
@siddhant94 I believe maybe we need the `kubectl` binary. And second, we may not need a root user. @kumarabd Could you please help us with this, others adapters have the same situation

[2020-12-21 01:59] kumarabd commented on #166
@siddhant94 @Aisuko kubectl is not required and it can run as a root user. Don't have to create a separate one, u can stick to exactly the istio adapter's dockerfile

[2020-12-21 08:07] siddhant94 commented on #166
@kumarabd @Aisuko Have created a [PR](https://github.com/layer5io/meshery-linkerd/pull/170) which updates the dockerfile. Couple of things different from istio adapter.

- ```ENV DISTRO="debian"
ENV GOARCH="amd64"```
I have not added these environment variables as I could not find which part of code was dependent on these.

- Same with linker flags `-X main.environment` & `-X main.provider`, since

[2020-12-21 08:16] kumarabd commented on #166
@siddhant94 linker flags cool, the envs however are needed by other binaries that we will using during runtime. Do add them if you would. Good to go after that!

[2020-12-21 08:46] siddhant94 commented on #166
@kumarabd I have added the env variables. [PR](https://github.com/layer5io/meshery-linkerd/pull/170).

[2020-12-21 09:19] mgfeller commented on #166
@kumarabd @siddhant94 nice work. I wonder about the root user. shouldn't a non-root user be used? if not, why not?

[2020-12-21 09:22] kumarabd commented on #166
@mgfeller it's not critical to use a root user, or there is no difference in our case because our container is distroless, thus no shell program is available for exploitation. Do advice if I'm missing something here.

[2020-12-21 09:31] mgfeller commented on #166
@kumarabd, what about compromised tools that are downloaded by the adapter, or compromised third-party libraries (supply chain)?

[2020-12-21 09:52] kumarabd commented on #166
Makes sense, let's add the user back. Thanks for highlighting @mgfeller

[2020-12-21 09:53] kumarabd commented on #166
Can you help @siddhant94 on this @mgfeller ?

[2020-12-21 10:00] siddhant94 commented on #166
@mgfeller @kumarabd For running as non root user we can leverage the `nonroot-amd64` tag of [distroless/base](https://console.cloud.google.com/gcr/images/distroless/GLOBAL/base?gcrImageListsize=30). This image provides running processes as nonroot user by default ([reference](https://github.com/GoogleContainerTools/distroless/issues/235#issuecomment-503746132))

[2020-12-21 10:05] kumarabd commented on #166
@siddhant94 go for it. And do test out the image once locally if all the functionalities work.

[2020-12-21 10:16] siddhant94 commented on #166
Sure @kumarabd. Lastly, can you point me to doc with testing steps/process locally?

[2020-12-21 10:24] mgfeller commented on #166
BATS tests would have been nice to have now :smile:

[2020-12-21 10:26] kumarabd commented on #166
I'm afraid if there is one currently, do follow the below steps to get it tested:
1. docker build -t local/meshery-linkerd:latest . On the adapter.
2. Run docker-compose file in the meshery repository by modifying the image name for linkerd.
3. docker-compose up, and try installing linkerd and sample apps

[2020-12-21 10:40] siddhant94 commented on #166
I'll follow these,thanks. I am offline for now, will update it in sometime.

[2020-12-21 16:17] siddhant94 commented on #166
hey @kumarabd , I tried but I am unable to get the set-up. It's showing error
[code]
But those files are present on host.
[code]
 Any directions on how to solve this? I tried getting started with mesheryctl just to explore but there also it failed to connect to the minikube cluster.

[2021-01-06 01:18] #166 closed

[2021-03-19 00:27] leecalcote opened #181 "Displace istio reference in ci workflow with linkerd"
**Description**
The static analysis check in this repo [is failing,](https://github.com/layer5io/meshery-linkerd/runs/2141602946?check_suite_focus=true#step:4:21) because it is referencing an istio file - https://github.com/layer5io/meshery-linkerd/search?q=istio

[2021-03-19 02:09] Aisuko commented on #181
I saw there's a `.golangci.yaml` in our project, why we add these CI steps. If I remember right,  all our adapters repo all transferred `CI` to `golangci-lint`, right?

[2021-03-19 02:14] Aisuko commented on #181
We can fix the CI configuration at first.

[2021-03-19 03:02] Aisuko commented on #181
@ramrodo If I remember right, we already made a choice on `golangci-lint` right? Sorry I don't remember which docs record this

[2021-03-20 19:54] ramrodo commented on #181
@Aisuko I think that decision was made before I join the project. But it seems it's true, in `meshery-consul` we use `golangci-lint`. So, I think we can change it to use the later.

[2021-03-25 15:04] leecalcote opened #184 "[Lifecycle] Install fails if "linkerd" namespace already exists"
**Description**
In an environment with "linkerd" namespace already present, deployment of Linkerd fails.

**Expected Behavior**
Linkerd should be installed to the existing namespace.

**Logs**
[code]

**Enviroment:**
 - Meshery Version: v0.5.0
 - Adapter Version:

[2021-03-25 15:04] leecalcote commented on #184
@Aisuko can you look into this? // @utkarsh-pro

[2021-03-26 20:30] dhruv0000 commented on #122
The recent effort update the SMI results in [layer5 site](https://layer5.io/service-mesh-landscape#smi), covered the effort of checking the compliance of `linkerd v2.10.0` against the standard test suite.

[2021-03-26 20:59] leecalcote commented on #122
Ok, good. Safe to close this issue, I think.

[2021-03-26 20:59] #122 closed

[2021-03-26 21:00] #127 closed

[2021-03-31 18:11] leecalcote commented on #184
@kumarabd Logs:

[code]

[2021-03-31 18:12] #181 closed

[2021-05-07 07:16] Anita-ihuman opened #189 "[README] Update README Community Section"
**Description**
The Community section in the README says "Access the Community Drive". There is a new procedure of having this automated based on the individual filling in a [community member form](https://layer5.io/newcomer)

**Expected Behavior**
Update "Access Community Drive" to "To Access Community Drive, fill Community Member Form"

**Screenshots**
![img](https://user-images.githubuserconten

[2021-05-07 07:55] XeroHero commented on #189
Hi @Anita-ihuman .
I'd like to give this one a try, would that be okay for you? Could you kindly assign it to myself?
Thank you very much. Regards.
Xerohero

[2021-05-07 11:47] leecalcote commented on #189
Thank you for volunteering, @XeroHero! 👍

[2021-06-02 17:02] leecalcote opened #195 "[Management] Support for Service Mesh Patterns"
####  Enhancement Description
Meshery integrates with Open Application Model to deliver Service Mesh Patterns. The `meshery-adapter-library` provides common OAM Registration and OAM Processing functions. This Meshery Adapter needs enhancement to support these operations and management of its service meshes with service mesh patterns.

#### Implementation

---
**Resources**
- Docs: https://docs.mes

[2021-06-04 11:22] leecalcote commented on #195
@utkarsh-pro will you update this will implementation specifics?

[2021-06-05 19:50] #114 closed

[2021-06-16 17:14] kumarabd opened #198 "Upgrade meshkit errors"
**Enhancement Description**
Port meshkit errors to the new error utility function. Instructions covered here, layer5io/meshkit#48

[2021-06-23 14:54] amino19 opened #201 "[README] Need to fix Slack badge"
**Description**

<a href="https://github.com/layer5io/meshery-linkerd/blob/master/README.md">README.md</a> is the first file one should read when starting a new project. For attractive look, we added some badges also.
But, there's a Slack badge failing, need to fix that.

### Example Screenshot

**Current Behavior**

![image](https://user-images.githubusercontent.com/75872316/122434243-8d807100-cf

[2021-06-25 16:18] amino19 opened #202 "[README] Need to add `Community Forum`"
**Description**

<a href="https://github.com/layer5io/meshery-linkerd/blob/master/README.md">README.md</a> is the first file one should read when starting a new project. Our community launched `Discussion forum` for help seekers; needs to publish it officially on README.md for convenience.

### Screenshots

**Current behaviour:**
![image](https://user-images.githubusercontent.com/75872316/12344108

[2021-06-28 09:48] Anita-ihuman commented on #189
@XeroHero, How is this coming up?

[2021-06-28 09:48] #189 closed

[2021-06-29 01:57] Aisuko commented on #91
I have been compared the CI with https://github.com/meshery/meshery-kuma/blob/master/.github/workflows/ci.yml project, as you can see both of them are same. So, I believe current CI has no issue and can work well.

[2021-06-29 01:57] #91 closed

[2021-06-29 02:07] Aisuko commented on #202
hi @amino19 , thank for mention this. I saw there both issue type `README` all comes from you, so, welcome to do PR for this.

[2021-06-29 02:09] Aisuko commented on #201
related to https://github.com/meshery/meshery-linkerd/issues/202#issuecomment-870170746

[2021-06-30 01:30] Aisuko commented on #105
We close this issue, due to all the adapters we use the same way(common function on Helm) to deployment the adapters.

[2021-06-30 01:30] #105 closed

[2021-06-30 01:34] Aisuko commented on #100
Let's confirm that we already import the functions name `wait-until-ready` of `meshkit`

[2021-07-01 08:07] sayantan1413 commented on #198
Hey @kumarabd I want to work on this issue.

[2021-07-01 11:21] kumarabd commented on #198
Sure @sayantan1413 , lemme know if you need more info

[2021-07-06 19:04] #198 closed

[2021-07-08 07:31] #80 closed

[2021-07-08 07:31] #77 closed

[2021-07-08 07:31] #110 closed

[2021-07-08 07:31] #113 closed

[2021-07-08 07:31] #115 closed

[2021-07-08 07:31] #117 closed

[2021-07-08 07:31] #120 closed

[2021-07-08 07:31] #118 closed

[2021-07-08 07:31] #121 closed

[2021-07-08 07:32] #39 closed

[2021-07-08 07:32] #142 closed

[2021-07-08 07:32] #184 closed

[2021-07-13 16:56] sayantan1413 opened #211 "[CI] Patterns: Generate JSON Schema and Definitions for LINKERD components"
**Enhancement Description**

To generate the workflow of getting the manifest from the LINKERD using the [kubeopenapi-jsonschema](https://github.com/layer5io/kubeopenapi-jsonschema) to read and generate json schemas from those manifests and then also generating workload definitions from those schemas.

A sample workflow is [here](https://github.com/DelusionalOptimist/meshery-istio/blob/gen-oam/.gi

[2021-07-13 17:07] aaroosh-07 commented on #201
can i take up this issue?

[2021-07-13 17:14] amino19 commented on #201
@aaroosh-07 : Yes, do you mind to fix #202 as well! :slightly_smiling_face:

[2021-07-14 04:25] aaroosh-07 commented on #201
okay I will also take up issue #202

[2021-07-14 04:53] aaroosh-07 commented on #201
@amino19 I have made pull request to solve this issue and #202

[2021-07-14 11:56] #201 closed

[2021-07-20 04:55] gravishpurohit commented on #202
Hey , @amino19 can i take this?

[2021-07-20 05:02] amino19 commented on #202
@gravishpurohit : Thanks for your attention over here, I think this issue got fixed, make sure to check more <a href="https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+org%3Ameshery+org%3Aservice-mesh-performance+org%3Aservice-mesh-patterns+label%3A%22good+first+issue%22"> good-first-issue</a> to get started...
Else you can join our <a href="https://slack.layer5.io">

[2021-07-20 05:02] #202 closed

[2021-07-22 14:42] DelusionalOptimist opened #213 "[CI] add error codes utility runner workflow"
#### Current Behavior

Error codes and their reference is not being updated.
#### Desired Behavior

Add the error codes updater workflow to update error codes and publish error codes reference

#### Implementation

1. Create the error codes updater workflow for the repo. Modify it a bit according to the repository you're working on.
Sample: https://github.com/layer5io/meshkit/blob/master/.github/w

[2021-07-24 03:46] metonymic-smokey commented on #213
@DelusionalOptimist https://github.com/layer5io/meshkit/blob/master/.github/workflows/error-ref-publisher.yaml - this link mentioned above returns a 404 for me

[2021-07-24 04:08] leecalcote commented on #213
Having a look-see at the changes included in the PRs above will be insightful.

[2021-07-24 04:10] metonymic-smokey commented on #213
Yep @leecalcote , I understood the instructions from those.
Just wanted to notify @DelusionalOptimist to change it in the issue description.

[2021-07-24 05:25] DelusionalOptimist commented on #213
Yeah my bad. Thanks for bringing this up @metonymic-smokey. I've updated the link 👍

[2021-07-24 19:33] DelusionalOptimist opened #215 "Linkerd fails to install"
**Description**
Unable to install linkerd using the adapter.

**Screenshot**
Logs from the linkerd adapter
[code]

**Enviroment:**
 - OS: Ubuntu 20.04
 - Browser: Any
 - Version: [e.g. 22]
 - Device: [e.g. laptop]

---
**To Reproduce**
Steps to reproduce the behavior:
1. Install meshery and meshery-linkerd adapter.
2. Go to linkerd page in the UI.
3. Install linkerd.
4. See error

**Additional Con

[2021-07-27 12:00] #213 closed

[2021-07-29 17:10] #195 closed

[2021-07-30 23:58] leecalcote commented on #215
@Aisuko, I wonder if you might have a peek...

[2021-07-30 23:59] leecalcote commented on #211
@sayantan1413, are you working on this one (taking assignment)?

[2021-07-31 02:55] Aisuko commented on #215
No problem, sir.

[2021-07-31 13:29] utkarsh-pro commented on #215
@Aisuko let's consider using linkerd's helm chart for installation as chart based installation should be more reliable. Meshkit already supports helm chart based installations (Traefik Mesh uses this I believe).

Opinions @leecalcote @DelusionalOptimist?

[2021-08-05 21:47] leecalcote opened #220 "[Patterns] Component support for Linkerd policy crds"
**Enhancement Description**
Linkerd's  stable-2.10.2 release has:

- Added `servers.policy.linkerd.io` and `serverauthorizations.policy.linkerd.io`
- CRDs into the default Linkerd installation to support configuration and discovery of inbound policies

**Related Challenges**
Pattern component should be generated to support these new crds.

### Contributor Resources

The meshery.io website uses Jek

[2021-08-20 13:28] #220 closed

[2021-08-24 01:48] #100 closed

[2021-08-29 20:45] #211 closed

[2021-08-30 07:20] Aisuko commented on #215
We will close this issue after we got confirmation from the PR was linked above.

[2021-08-30 07:21] Aisuko commented on #215
There may be other issues you are interested in @Micost

[2021-08-30 11:47] #215 closed

[2021-09-01 07:06] Micost commented on #215
Thank you for the understanding,  I was out of other things.

[2021-09-13 10:12] #116 closed

[2021-09-13 10:12] #111 closed

[2021-11-05 16:58] leecalcote opened #245 "Support Linkerd Extensions"
**Enhancement Description**
Add component support for Linkerd Extensions - https://linkerd.io/2.11/reference/extension-list/

### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site content is found under the [`master` branch](https://github.com/meshery/meshery.io/tree/master).
- See the [Contributing to Meshery.io Website](https://github.com/layer5io/meshery.io#contri

[2021-11-05 17:36] s1ntaxe770r commented on #245
@leecalcote could I work on this? I'd need a bit of help though

[2021-11-05 17:39] leecalcote commented on #245
@s1ntaxe770r, yes, although considering that this a good deal different than where you've focused in the past, let's set you up for success by having as a reviewer the PR that comes through on this issue. Will that work? // @Revolyssup

[2021-11-05 17:48] s1ntaxe770r commented on #245
ah yes that works

[2021-11-23 02:13] Aisuko opened #252 "The dependencies version were broken"
#### Current Behavior

https://github.com/meshery/meshery-linkerd/runs/4294152220?check_suite_focus=true

[code]

The different packages here need the same module with different version cause this issue.

#### Expected Behavior

The dependencies on current project should follow the `github.com/layer5io/meshery-adapter-library@v0.1.25`

#### Screenshots/Logs

#### Environment

- **Host OS:** Mac Li

[2021-12-04 02:26] #245 closed

[2021-12-08 03:16] jbyers19 opened #260 "meshery-linkerd container crashes due to missing CGO dependency"
#### Current Behavior
The `meshery-linkerd` container crashes on launch with the following error:
[code]
This looks to be introduced by this change:
*  commit: b0f922590c05228b00b0076102754be9a7023085
*  PR: https://github.com/meshery/meshery-linkerd/pull/251

Thanks to [this answer](https://stackoverflow.com/a/62633846), I was able to find the root cause. The [static distroless image](https://git

[2021-12-08 03:18] jbyers19 commented on #260
I would be happy to submit a PR to fix this, but would like some guidance on which of the 2 solutions should be used.

[2021-12-09 01:15] #260 closed

[2021-12-10 00:33] Aisuko commented on #252
FIxed by #262 and we updated the  CI check.

[2021-12-10 00:33] #252 closed

[2021-12-13 18:40] cpepper96 opened #264 "[CI] Update Slack.yml and add newcomer-alert workflow"
**Current Behavior**
Currently the slack.yml is outdated. Also there is no automated way of notifying the slack channel when a "good first issue" has been created.

**Desired Behavior**
Update slack.yml and add newcomer-alert.yml to the Github workflow.

---
**Resources**
Add the updated slack.yml file and the newcomer-alert.yml file to the .github/workflow folder.

Files needed:
https://github.co

[2021-12-14 09:18] Ankita13-code commented on #264
Hi @cpepper96! I would like to take up this issue. Can you please assign it to me?

[2021-12-14 13:08] #264 closed

[2021-12-17 08:07] Swapnil-Bhabal opened #269 "[Docs]The updation of shields is needed in README.md"
**Current State:**
Small updation of shields in README.md

![image](https://user-images.githubusercontent.com/61308713/146510760-3b91a7c4-713a-40a3-9111-81076992c778.png)

**Desired State:**
This is how it should look like:

![image](https://user-images.githubusercontent.com/61308713/146510848-68194696-4ee9-4a33-9f0c-68759eb05de7.png)

updation should be done in this README.md by keeping the shiel

[2021-12-17 08:27] sayantan1413 commented on #269
So basically you will be adding the discourse shield right ?

[2021-12-17 08:27] sayantan1413 commented on #269
Assigned!!

[2021-12-17 09:49] Swapnil-Bhabal commented on #269
Yes @sayantan1413, this updation was proposed by lee calcote sir, he wanted the shield section to be same as the shield of meshery-istio in every repository.

Being a new comer i took up this task and i am raising issues from every repository.

Updations of few repositories will be done by me, and the remaining links i am planning to post in community new comers channel so it serve as first contri

[2021-12-17 10:50] Swapnil-Bhabal commented on #269
#270
Thats my PR on this issue @sayantan1413 , i have made the changes
Kindly review my PR, Thank you.

[2021-12-17 21:17] #269 closed

[2021-12-17 21:18] leecalcote commented on #269
@Swapnil-Bhabal don't forget to add your star to each repo as you go! 🙂

[2021-12-18 02:25] Swapnil-Bhabal commented on #269
Sure @leecalcote

[2021-12-18 14:12] leecalcote opened #272 "[CI] component build failure"
#### Current Behavior
please see https://github.com/meshery/meshery-linkerd/runs/4565470473?check_suite_focus=true

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshery/meshery/blob/master/CONT

[2021-12-20 00:50] Aisuko commented on #272
@DelusionalOptimist Please help us confirm. Is there any API change of Github or Linkerd2 project?

[2021-12-21 02:35] #272 closed

[2021-12-30 07:00] Aisuko opened #280 "Dependencies security issues"
#### Current Behavior

As we saw that the security issue of dependencies may came from `layer5io/meshkit`  https://github.com/meshery/meshery-linkerd/security/dependabot/go.sum/github.com%2Fopencontainers%2Frunc/open

[code]

@leecalcote Could you please add a same team same like in meshery community have permission access the the security in [layer5io](https://github.com/orgs/layer5io/teams) comm

[2021-12-30 23:21] leecalcote opened #282 "[UX] Helm: Improved probable cause and suggested remediation"
**Current State:**

The following error message is shown in the adapter logs when deprovisioning an instance of Linkerd that was previously provisioned by Meshery (by the adapter) using `linkerd` (not using Helm).

[code]

**Desired State:**
The probable cause and suggested remediation fields need updated with pertinent information. In this case, the error was just a warning. The uninstall using h

[2021-12-30 23:21] leecalcote commented on #282
@Aisuko might you take this up?

[2021-12-31 00:42] Aisuko commented on #282
@Aisuko of course.

[2021-12-31 00:48] Aisuko commented on #280
https://github.com/meshery/meshery-nginx-sm/issues/76

[2021-12-31 00:54] warunicorn19 opened #284 "[CI] Define end-to-end integration test assertions"
#### Current Behavior
The following end-to-end integration test workflow has an incomplete definition of test assertions -

https://github.com/meshery/meshery-linkerd/blob/master/.github/workflows/e2etests.yaml#L110-L112

#### Desired Behavior
Define end-to-end integration test assertions

#### Acceptance Tests
Passing/failing results should show in Meshery Docs compatibility matrix - https://docs

[2021-12-31 02:32] leecalcote commented on #282
Thank you, thank you.

[2021-12-31 06:17] Aisuko commented on #282
You are welcome, sir. Happy new year.

[2022-01-05 15:27] Revolyssup commented on #284
@warunicorn19  what do you mean by "incomplete definition of test assertions"

[2022-01-07 10:42] Aisuko commented on #280
@leecalcote sir.

[2022-01-17 17:28] leecalcote opened #292 "Invalid component `Server` schema"
#### Current Behavior
[code]

#### Screenshots/Logs
<img width="2560" alt="Screen Shot 2022-01-17 at 11 24 35 AM" src="https://user-images.githubusercontent.com/7570704/149814424-760e23dc-f269-4a3f-b0db-a1d2519a8c00.png">

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-releas

[2022-01-18 19:41] Revolyssup commented on #292
@leecalcote  RJSF expects each field to have a "type".
 According to the spec given in kubernetes documentation, if an object has the field "x-kubernetes-int-or-string: true", then it will not have the "type" field. We need to handle this on the UI. Because it does not require backend manipulation as we are just following what the spec is. RJSF should comply with the spec

[2022-01-18 20:38] Revolyssup commented on #292
@leecalcote  I just realized this cant be handled on UI, as we directly pass the schema onto library.

[2022-01-18 22:13] leecalcote commented on #292
Whether the UI can handle it or not, this is something to be addressed during component generation.

[2022-01-19 05:33] Revolyssup commented on #292
As of now, we don't manipulate the schema internally at backend. The issue is slight incompatibility between kunernetes spec and RJSF. Directly using RJSF instead of adding a thin abstraction on frontend is biting us back. I will see what can be done

[2022-01-19 08:55] Revolyssup opened #293 "Failing component creation"
#### Current Behavior

Currently due to helm templates in the yaml (metadata.labels)passed for component creation, component creation fails from kubeopenapi-jsonschema as templates are not resolved and yaml is marked invalid.
#### Expected Behavior

As we do not need labels anyways, we can remove that in meshkit.
#### Screenshots/Logs

#### Environment

- **Host OS:** Mac Linux Windows
- **Platfor

[2022-02-20 14:59] leecalcote commented on #284
@Revolyssup this means that of the smi conformance tests that are defined, they do not cover the four smi api specs' functionality completely. More test assertions need to be defined.

[2022-02-24 08:11] Chadha93 commented on #282
//@Aisuko ^^

[2022-02-25 21:49] leecalcote commented on #293
Is this issue only affecting the Meshery Adapter for Linkerd?

[2022-02-25 21:50] leecalcote commented on #292
@Revolyssup, did you get this figured out?

[2022-03-03 12:46] #280 closed

[2022-03-25 15:23] Zanda256 opened #320 "Add end-to-end tests wtih sample apps using service-mesh-pattern file."
#### Current Behavior
Currently e2e tests in the adapter only run tests for vanilla service mesh installation and for addons.

#### Desired Behavior
The link below is of an example patternfile that should also be deployed and assertions should be made.
https://github.com/service-mesh-patterns/service-mesh-patterns/blob/master/samples/minimalistiobookinfo.yaml

#### Implementation

#### Acceptance

[2022-03-27 13:51] leecalcote opened #322 "Duplicate Error Codes"
#### Screenshots/Logs
[code]

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md#documentation-contribution-flow)
   - Meshery documentation [site](https:/

[2022-03-30 21:27] leecalcote opened #326 "[CI] Support Multi-platform Docker Images"
#### Desired Behavior
Meshery users, particularly those running Docker Desktop can benefit from multi-platform images of Meshery Server.

#### Implementation
Refactor existing stable and edge build and release workflows to use `docker-build-push` actions. See https://github.com/meshery/meshery/blob/master/.github/workflows/build-and-release-dde.yml as an example.

Be aware of local binaries and th

[2022-04-02 12:03] Aisuko commented on #326
Hi, @leecalcote I agree with this. We need multiple platform support here.

[2022-04-08 10:10] Zanda256 opened #331 "Enhance E2E tests to use mesheryctl to deploy Meshery"
#### Current Behavior
The tests in https://github.com/meshery/meshery-linkerd/.github/workflows/e2etests.yaml use Kubernetes manifests to deploy Meshery .

#### Desired Behavior
Edit the workflow to use mesheryctl in deploying meshery.

#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Bu

[2022-04-12 04:06] leecalcote commented on #293
@Revolyssup will you have a look at this one again?

[2022-04-12 09:46] leecalcote commented on #292
Are we still in the same boat?

[2022-04-12 10:04] Revolyssup commented on #292
I think @Abhishek-kumar09  had handled this. Can you confirm @Abhishek-kumar09 ?

[2022-04-12 17:59] Abhishek-kumar09 commented on #292
Yeah x-kubernetes-int-or-string field is handled and shown as normal text fields in the UI

[2022-04-12 17:59] Abhishek-kumar09 commented on #292
This issue can be closed.

[2022-04-12 18:11] #292 closed

[2022-04-13 18:53] leecalcote commented on #326
New `[multi-platform.yml](https://github.com/meshery/meshery-linkerd/blob/master/.github/workflows/multi-platform.yml)` workflow put into place. ARM images are now built and pushed.

[2022-04-13 18:53] #326 closed

[2022-04-15 19:03] #293 closed

[2022-05-04 16:40] cpepper96 opened #341 "[CI] update go version in ci.yml"
#### Current Behavior
All meshery adapters use go version 1.17 now, the ci.yml file needs to be updated to reflect this.
#### Desired Behavior
Update the go version to 1.17 in the ci.yml file.
#### Implementation
You can find the outdated version [here](https://github.com/meshery/meshery-linkerd/blob/3ce9d32dfb2f757a7c6ea7297a2b8e599aef4a71/.github/workflows/ci.yml#L38), update to 1.17.
#### Accep

[2022-05-04 16:45] Akshit42-hue commented on #341
Can I work on it @cpepper96

[2022-05-06 15:00] #341 closed

[2022-05-12 21:34] karnatisrinivas opened #346 "[CI] Update the Component generator workflow."
#### Current Behavior

The Components generator file https://github.com/meshery/meshery-linkerd/blob/master/.github/workflows/update-oam-defs.yml using bash which isn't in uniformity with Other adapters.

#### Desired Behavior

Edit the workflow to maintain uniformity with other adapters

#### Implementation

#### Acceptance Tests

---
#### Contributor [Guides](https://docs.meshery.io/project/cont

[2022-05-12 21:37] karnatisrinivas commented on #346
++ @Revolyssup,

[2022-05-12 22:10] leecalcote commented on #346
Excellent, @karnatisrinivas

[2022-05-12 22:10] leecalcote commented on #322
getting stale

[2022-05-13 02:58] leecalcote commented on #320
uh-oh, the stale bot visited

[2022-05-13 11:32] #346 closed

[2022-05-13 11:34] Revolyssup commented on #322
Have been solved

[2022-05-13 11:34] #322 closed

[2022-05-21 21:04] leecalcote commented on #284
How’s this coming along?

[2022-05-22 10:25] Zanda256 commented on #284
Some progress, about to open a pr.

[2022-05-23 14:23] Revolyssup commented on #331
In the core workflow, mesheryctl is used to deploy Meshery. The yamls in the e2etests here are used so as to edit them and inject the custom adapter image created specific for the test

[2022-05-23 14:23] #331 closed

[2022-06-09 17:48] gunishmatta commented on #320
I would love to take this up

[2022-06-10 17:03] leecalcote opened #357 "Deprovisioning error: linkerd2: release: not found"
#### Current Behavior
After installing Linkerd with the Meshery Adapter, users are unable to uninstall Linkerd. Instead the following error logs can be seen in the adapter's stdout.

#### Screenshots/Logs
[code]

#### Environment

- **Host OS:** Mac
- **Platform:** Docker
- **Meshery Server Version:** stable-v0.6.0-rc.5u
- **Meshery Adapter Version:** stable-v0.5.25

---
#### Contributor [Guides](

[2022-07-24 22:45] Zanda256 commented on #320
@gunishmatta are you still up for this?

[2022-08-03 20:32] leecalcote opened #380 "[CI] Trigger Component Documentation after generation of components"
@asubedy [this workflow](https://github.com/meshery/meshery-linkerd/actions/runs/2792271456) should probably be embedded within or trigger from the completion of components being generated, not triggered on merge to master.

_Originally posted by @leecalcote in https://github.com/meshery/meshery-linkerd/issues/369#issuecomment-1204447773_

[2022-08-03 20:33] leecalcote opened #381 "[CI] Components to Docs Workflow failure"
#### Current Behavior
Missing filepath: https://github.com/meshery/meshery-linkerd/runs/7660398762?check_suite_focus=true#step:5:31

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 🙋🏾🙋🏼 Questions: [Layer5 Discussion Forum](https://discuss.layer5.io) and [Layer5 Comm

[2022-08-03 20:38] leecalcote commented on #357
Do you mind confirming that this is no longer an issue?

[2022-08-04 21:52] asubedy commented on #381
Fixed on the Meshery repo .
Meshery/meshery#5965

[2022-08-24 10:57] Aisuko commented on #381
So, we can close this issue.

[2022-08-24 10:57] #381 closed

[2022-08-25 18:18] akhilsahuji opened #391 "Missing components for few versions of linkerd"
#### Current Behavior

For some versions, Linkerd has only "Linkerd mesh" and "Configure Addon".Other components are missing as shown in the screenshot.
![less components](https://user-images.githubusercontent.com/46328560/186739198-e93f9d97-bcb5-4740-9d80-3a3cf5b6f945.png)
 missing

#### Expected Behavior
All the components should appear in all versions as shown in this screenshot.
![linkerd comp

[2022-08-29 07:32] Rohith-Raju commented on #320
@leecalcote I'll take this up. Just beware of the silly questions that I ask hereby :smiley:

[2022-09-10 03:52] #284 closed

[2022-09-17 22:21] leecalcote commented on #380
@asubedy progress?

[2022-09-23 21:16] leecalcote commented on #391
Thank you, @akhilsahuji. Is this an issue that you would like to work on?

[2022-09-23 21:19] leecalcote opened #405 "Linkerd Provisioning failure: Kubernetes 1.25"
#### Screenshots/Logs
[code]

[code]

#### Environment

- **Host OS:** Mac
- **Platform:** Kubernetes
- **Meshery Server Version:** stable-v0.6.9
- **Meshery Client Version:** stable-v0.6.9
- **Meshery Adapter Version:** stable-v

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 📝 [Meshery Adapters Spreadsheet](https://docs.google.com/spreadsheets/d/1rGGp

[2022-09-23 21:29] leecalcote commented on #405
[code]

[2022-09-23 21:59] acald-creator commented on #405
@leecalcote is this error still showing up?

running locally shows that it is running successful on linkerd version `2.12.1`

[2022-09-23 22:17] leecalcote commented on #405
@acald-creator, yes, it is showing for me still. I'm running Docker Desktop with Kubernetes 1.25 and provisioning Linkerd into a `linkerd` namespace by initiating the installation from Meshery UI under the Linkerd lifecycle management page.

[2022-10-04 20:41] leecalcote opened #411 "[CI] Makefile: Golang build command returning warning in golang 1.19"
#### Current Behavior
Contributors execute `make run` to build the adapter. After upgrading from 1.17.8 to 1.19.1, this warning is now shown:

[code]

#### Desired Behavior
No build / compiler warnings.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 📝 [Meshery Adapters Spreadsheet](https://docs.google.com/spreadsheets/d/1rGGpSXC68iDJzNRU-qZIRQsZUwkt1qL

[2022-10-04 20:47] acald-creator commented on #411
@leecalcote I started getting that warning on my Mac, but not on my Windows/Ubuntu

[2022-10-04 20:47] leecalcote commented on #380
@asubedy anything at all?

[2022-10-05 02:23] ksankeerth commented on #411
It seems to be a known issue of Golang 1.19.1. https://github.com/golang/go/issues/54482#issuecomment-1251124908

[2022-10-05 09:10] theBeginner86 opened #412 "[CI] Update Multi Platform build and Release workflow"
#### Current Behavior

Currently, the [multiplatform.yml](https://github.com/meshery/meshery-linkerd/blob/master/.github/workflows/multi-platform.yml) file is sending unwanted build arguments to docker build process because of which release tag and commit_sha are not being passed over to the image and hence the version of meshery adapter are not visible on-hovering adapters chips on Meshery UI Das

[2022-10-06 03:24] acald-creator commented on #412
This has been completed by the previous PR on Go 1.19 upgrade. I did not see this open issue until after the fact, but I believe other adapters repo are not completed yet.

[2022-10-06 08:45] theBeginner86 commented on #412
@XDRAGON2002 you may please check out other open `good first issues` around Layer5 projects.
This link would be helpful: https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Aservice-mesh-performance+user%3Alayer5io+user%3Ameshery

[2022-10-06 08:48] XDRAGON2002 commented on #412
Sure, no problem!

[2022-10-06 08:49] theBeginner86 commented on #412
closing this issue as the problem with workflow is already solved by a previous PR https://github.com/meshery/meshery-linkerd/pull/406

[2022-10-06 08:49] #412 closed

[2022-10-14 19:11] XDRAGON2002 opened #416 "[CI] Update e2etests workflow to run on push"
#### Current Behavior

e2etests workflow does not run on push

#### Desired Behavior

e2etests workflow should run on each push

#### Implementation

Add condition to run the workflow on push

#### Acceptance Tests

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 📝 [Meshery Adapters Spreadsheet](https://docs.google.com/spreadsheets/d/1rGGpSXC68iDJzNRU-qZ

[2022-10-17 21:22] #416 closed

[2022-10-24 05:36] #320 closed

[2022-10-24 10:45] leecalcote commented on #320
@Revolyssup has this not been completed?

[2022-11-09 15:13] acald-creator commented on #411
issue has been resolved from `golang/go` repo, closing this issue

[2022-11-09 15:13] #411 closed

[2022-11-14 09:29] #357 closed

[2022-11-18 04:51] #405 closed

[2022-11-23 19:02] UtkarshMishra12 opened #431 "Meshery Logo in Dark mode should be white & broken build status image/SVG"
#### Current Behavior

1. Meshery Logo in Dark mode should be white
2. broken build status image/SVG
3. Slack & Community Link

#### Expected Behavior

#### Screenshots/Logs

![image](https://user-images.githubusercontent.com/67385503/203626959-9f5e7fef-acb7-4bfb-b4ca-314b65996147.png)

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Versi

[2022-11-25 13:49] leecalcote commented on #431
2. ```<a href="https://github.com/meshery/meshery-linkerd/actions" alt="Build Status">
  <img src="https://img.shields.io/github/workflow/status/meshery/meshery-linkerd/Release Meshery Linkerd Adapter" /></a>```

[2022-11-30 06:54] #431 closed